@import url(./fonts/typography.css);
@import "_reset";
@import "_main";

.right-content{
    .news-slide{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 20px 2px;
        background-color: #F8F9FC;
        border-radius: 5px;
        .news-notification-badge{
            padding: 2px 10px;
            border-radius: 5px;
            background-color: #FEC84B;
        }
        .news-notification-content{
            color: #004DD1;
        }
    }
}