.wrapper-style {
  box-shadow: 0px 1px 2px 0px #1018280f;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  padding: 16px 24px;
  &.row {
    display: flex;
  }
  &.col {
    display: flex;
    flex-direction: column;
  }
}

.profile-avatar-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.button-save{
  background-color: #004dd1;
  padding-top: 17px;
  padding-bottom: 17px;
  min-width: 527px;
  border-radius: 5px;
  border: none;
}
